{% extends "base.html" %}

{% block content %}
<h3 style="font-size: 25px; margin-top: 3%">Add New student/ Update Student</h3><br>

 {% set stat=status %}
  <form action='/update' method='post' style="background-color: #e1e3e6">
    <label style="font-size: 20px"><strong>Matric No:</strong></label><br>
    {% if stat=="1": %}
    <input type="text" name="matricno" value="{{row[0]}}" readonly><br>
    {% else: %}
    <input type="text" name="matricno" placeholder="Enter matric no" value="{{row[0]}}"><br>
    {% endif %}
    <label style="font-size: 20px;"><strong>Name:</strong> <br>
    <input type="text" name="name" placeholder="Enter name" value="{{row[1]}}"><br>
    <label style="font-size: 20px;"><strong>Address: </strong><br>
    <input type="text" name="address" placeholder="Enter address" value="{{row[2]}}"><br>     
    <label style="font-size: 20px;"><strong>Phone: </strong><br>
    <input type="number" name="phone" placeholder="Enter phone number" value="{{row[3]}}" ><br>
    <label style="font-size: 20px;"><strong>Password: </strong><br>
    <input type="password" placeholder="Enter password" name="password" 
	  style="
	  width: 100%;
	  padding: 12px 20px;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;" value="{{row[4]}}" ><br>
    
    <input type="hidden" name="status" value="{{status}}"> 
    <br>
    <div style="margin: 10px 0; color: red;">
        <span>{{ message }} </span>
    </div>
   <button type="submit" 
   
   style="width: 20%;
	  background-color: #468af0;
	  color: white;
	  padding: 14px 20px;
	  float: right;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer; 
	  font-size:15px">
	  
	  <strong>Submit</strong></button>
</form>

{% endblock %}
